:root {
  --main-bg-color: #ffffff;
  --second-bg-color: #f5f4fa;
  --accent-bg-color: #2f303a;
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --hover-btn-color: #188ce8;
  --main-icons-color: #afb1b8;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --bold-font: 700;
  --middle-font: 500;
  --thirty-pixels: 30px;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --bottom-border: 1px solid #eeeeee;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: var(--bold-font);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background: var(--main-bg-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50% 50%;
  box-sizing: border-box;
  cursor: pointer;
  background: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover, .close-button:focus {
  fill: var(--accent-text-color);
}

.icon-cross {
  position: absolute;
  top: 8px;
  right: 8px;
}

.order-form {
  display: flex;
  flex-direction: column;
}

.modal-text {
  margin-bottom: 12px;
  font-weight: var(--bold-font);
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.form-field {
  position: relative;
  margin-bottom: 10px;
}

.form-field:nth-child(5) {
  margin-bottom: 20px;
}

.form-lable {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.form-input {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover, .form-input:focus {
  border: 1px solid var(--accent-text-color);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.form-icon {
  display: inline-block;
  position: absolute;
  top: 32px;
  left: 12px;
  fill: #000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover ~ .form-icon,
.form-input:focus ~ .form-icon {
  fill: var(--accent-text-color);
}

.form-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:hover, .form-textarea:focus {
  border: 1px solid var(--accent-text-color);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-checkbox {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.check-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--title-text-color);
  border-radius: 3px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.checkbox:checked + .check-icon {
  border: none;
  background-color: var(--accent-text-color);
  background-image: url(../images/svg/check-on.svg);
  background-size: contain;
}

.form-check-link {
  text-decoration-line: underline;
  color: var(--accent-text-color);
}

.form-sub-button {
  position: absolute;
  bottom: 40px;
  left: 264px;
  transform: translateX(-50%);
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  font-family: inherit;
  font-weight: var(--bold-font);
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: var(--main-bg-color);
  background-color: var(--accent-text-color);
  border-style: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-sub-button:hover, .form-sub-button:focus {
  background-color: var(--hover-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.main-button {
  padding: 10px 32px;
  cursor: pointer;
  font-family: inherit;
  font-weight: var(--bold-font);
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: var(--main-bg-color);
  background-color: var(--accent-text-color);
  border-style: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover, .main-button:focus {
  background-color: var(--hover-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.header {
  border-bottom: 1px solid #ececec;
}

.main-navigation {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: var(--accent-text-color);
  font-family: Raleway;
  font-weight: var(--bold-font);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__color {
  color: #000;
}

.menu {
  display: flex;
  margin-left: 93px;
}

.menu__item + .menu__item {
  margin-left: 50px;
}

.menu__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: var(--middle-font);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover, .menu__link:focus {
  color: var(--accent-text-color);
}

.current {
  color: var(--accent-text-color);
}

.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  display: block;
  background: #2196f3;
  border-radius: 2px;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts__item {
  display: flex;
}

.contacts__item + .contacts__item {
  margin-left: 50px;
}

.contacts__link {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-weight: var(--middle-font);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-text-color);
}

.contacts__icons {
  margin-right: 10px;
  fill: currentColor;
}

.main-section {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio/main-bgi.jpg), #c4c4c4;
  text-align: center;
}

.main-section .main-section__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--main-bg-color);
  text-transform: uppercase;
}

.qualities {
  padding-top: 94px;
  padding-bottom: 94px;
}

.qualities-list {
  display: flex;
}

.qualities-list__item {
  flex-basis: calc(100% / 4);
}

.qualities-list__item:not(:last-child) {
  margin-right: 30px;
}

.qualities-list__tiltle {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: var(--bold-font);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-transform: uppercase;
}

.qualities-list__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.static-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--second-bg-color);
  border-radius: 4px;
}

.static-block__icons {
  width: 70px;
  height: 70px;
}

.direction {
  padding-bottom: 94px;
}

.direction-lable {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.direction-lable__text {
  font-weight: var(--bold-font);
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-bg-color);
}

.direction-list {
  display: flex;
}

.direction-list__item {
  position: relative;
}

.direction-list__item:not(:last-child) {
  margin-right: 30px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--second-bg-color);
}

.team-list {
  display: flex;
}

.team-list__item {
  background-color: var(--main-bg-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: var(--card-shadow);
}

.team-list__item:not(:last-child) {
  margin-right: 30px;
}

.bottom-item {
  padding-top: 30px;
  padding-bottom: 30px;
}

.bottom-item__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: var(--middle-font);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.bottom-item__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team-icons-list {
  display: flex;
  justify-content: center;
  margin: 16px 32px 0;
}

.team-icons-item {
  display: flex;
}

.team-icons-item:not(:last-child) {
  margin-right: 10px;
}

.team-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50% 50%;
  fill: var(--main-icons-color);
  transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons-link:hover, .team-icons-link:focus {
  border-radius: 50% 50%;
  background-color: var(--accent-text-color);
  fill: var(--main-bg-color);
}

.team-icons {
  width: 20px;
  height: 20px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--main-icons-color);
  border-radius: 4px;
  fill: var(--main-icons-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  fill: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-buttons {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio-buttons .filter-item + .filter-item {
  margin-left: 8px;
}

.buttons-filter {
  padding: 6px 22px;
  font-family: inherit;
  cursor: pointer;
  font-weight: var(--middle-font);
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--second-bg-color);
  border-color: transparent;
  border-style: none;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-filter:hover, .buttons-filter:focus {
  color: var(--main-bg-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.products {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--thirty-pixels));
  margin-left: calc(-1 * var(--thirty-pixels));
}

.products-item {
  background: var(--main-bg-color);
  flex-basis: calc(100% / 3 - var(--thirty-pixels));
  margin-top: var(--thirty-pixels);
  margin-left: var(--thirty-pixels);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products-item:hover, .products-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.products-thumb {
  position: relative;
  overflow: hidden;
}

.products-bottom-block {
  padding: 20px 24px;
  border-right: var(--bottom-border);
  border-bottom: var(--bottom-border);
  border-left: var(--bottom-border);
}

.products .products-title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: var(--bold-font);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.products-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.products-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products-item:hover .products-overlay,
.products-item:hover .products-overlay {
  transform: translateY(0);
}

.products-overlay-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-bg-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--accent-bg-color);
}

.footer-block {
  display: flex;
  align-items: baseline;
}

.footer-address {
  margin-right: 70px;
}

.footer-address .address {
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-bg-color);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts {
  padding-top: 4px;
  padding-bottom: 4px;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--contacts-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts:hover, .footer-contacts:focus {
  color: var(--accent-text-color);
}

.logo-inverse-color {
  color: var(--main-bg-color);
}

.socials {
  margin-right: 93px;
}

.socials-text {
  margin-bottom: 20px;
  padding: 0;
  font-weight: var(--bold-font);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-bg-color);
}

.socials-list {
  display: flex;
  justify-content: center;
}

.socials-item {
  display: flex;
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50% 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--main-bg-color);
  transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover, .socials-link:focus {
  border-radius: 50% 50%;
  background-color: var(--accent-text-color);
}

.socials-icons {
  width: 20px;
  height: 20px;
}

.subscribe-form {
  display: flex;
}

.subscribe-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:hover, .subscribe-input:focus {
  border-color: var(--accent-text-color);
  color: var(--main-bg-color);
  outline: none;
}

.subscribe-input:hover::placeholder, .subscribe-input:focus::placeholder {
  color: var(--accent-text-color);
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  text-align: center;
  font-weight: var(--bold-font);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-bg-color);
  background-color: var(--accent-text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover, .subscribe-button:focus {
  background-color: var(--hover-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.icon-plane-send {
  margin-left: 10px;
  fill: var(--main-bg-color);
}
/*# sourceMappingURL=main.css.map */