.footer-socials {
    margin-right: 93px;
  }

  .socials-text {
    margin-bottom: 20px;
    padding: 0;
    font-weight: var(--bold-font);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-bg-color);
  }
  
  .socials-list {
    display: flex;
    justify-content: center;
  }
  
  .socials-item {
    display: flex;

      &:not(:last-child) {
        margin-right: 10px;
      }
  }
  
  .socials-link {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 44px;
    height: 44px;
    border-radius: 50% 50%;
  
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--main-bg-color);
  
    transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        border-radius: 50% 50%;
        background-color: var(--accent-text-color);
      }
  }
  
  .socials-icons {
    width: 20px;
    height: 20px;
  }