.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;

    &-buttons {
      display: flex;
      margin-bottom: 50px;
      justify-content: center;
  
       .filter-item + .filter-item {
        margin-left: 8px;
      }
    }
  }

  
  
  .buttons-filter {
    padding: 6px 22px;
    font-family: inherit;
    cursor: pointer;
    font-weight: var(--middle-font);
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: var(--second-bg-color);
    border-color: transparent;
    border-style: none;
    border-radius: 4px;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        color: var(--main-bg-color);
        background-color: var(--accent-text-color);
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
          0px 3px 1px 0px rgba(0, 0, 0, 0.1);
      }
  }
  