.qualities {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .qualities-list .qualities-item {
    flex-basis: calc(100% / 4);
  }
  
  .qualities-list .qualities-item:not(:last-child) {
    margin-right: 30px;
  }
  
  .static-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: var(--second-bg-color);
    border-radius: 4px;
  }
  
  .static-icons {
    width: 70px;
    height: 70px;
  }
  
  .qualities-list .qualities-tiltle {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: var(--bold-font);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-transform: uppercase;
  }
  
  .qualities-list .qualities-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
  }
  