.order-form {
    display: flex;
    flex-direction: column;
  }
  .modal-text {
    margin-bottom: 12px;
    font-weight: var(--bold-font);
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
  }
  
  .form-field {
    position: relative;
  
    margin-bottom: 10px;
  }
  .form-field:nth-child(5) {
    margin-bottom: 20px;
  }
  
  .form-lable {
    display: inline-block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--main-text-color);
  }
  .form-input {
    width: 448px;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .form-input:hover,
  .form-input:focus {
    border: 1px solid var(--accent-text-color);
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
  }
  
  .form-icon {
    display: inline-block;
    position: absolute;
    top: 32px;
    left: 12px;
    fill: #000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .form-input:hover ~ .form-icon,
  .form-input:focus ~ .form-icon {
    fill: var(--accent-text-color);
  }
  
  .form-textarea {
    width: 448px;
    height: 120px;
    padding: 12px 16px;
  
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .form-textarea:hover,
  .form-textarea:focus {
    border: 1px solid var(--accent-text-color);
    box-sizing: border-box;
    border-radius: 4px;
    outline: none;
  }
  
  .form-textarea::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  
  .form-checkbox {
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
  
    color: var(--main-text-color);
  }
  
  .check-label {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .check-icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 8px;
    border: 2px solid var(--title-text-color);
    border-radius: 3px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
  
  
  .checkbox:checked + .check-icon {
    border: none;
    background-color: var(--accent-text-color);
    background-image: url(../images/svg/check-on.svg);
    background-size: contain;
  }
  
  .form-check-link {
    text-decoration-line: underline;
    color: var(--accent-text-color);
  }
  